<div class="flex justify-between">
  <div class="flex flex-col pl-6">
    <% @bicycles.each do |bicycle| %>
      <a href="<%= bicycle_url(bicycle) %>" class="flex border-2 border-black rounded-md w-1/2 mb-4 pl-3">
        <div class="flex w-1/3"><%= image_tag(bicycle.image) if bicycle.image %></div>
        <div class="fond-bold text-lg pl-3">
          <div>Model : <%= bicycle.model.capitalize %></div>
          <div>Style : <%= bicycle.style.capitalize %></div>
          <div>Price : <%= bicycle.price.round(2) %>$</div>
          <div>Visits : <%= bicycle.visits.count %></div>
        </div>
      </a>
    <% end %>
  </div>

  <form class="flex flex-col justify-start">
    <%= form_with url: "/bicycles", method: :get do |form| %>
      <div class="flex flex-row">
        <%= form.label :model, "Model:", class: "font-bold text-xl pr-2" %>
        <%= form.text_field :model, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300
                                            rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="flex flex-row">
        <%= form.label :style, "Style:", class: "font-bold text-xl pr-2" %>
        <%= form.select :style, all_styles, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300
                                                    rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                                                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="flex flex-row">
        <%= form.label :price_min_bound, "Minimum price: ", class: "font-bold text-xl pr-2" %>
        <%= form.number_field :price_min_bound, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300
                                            rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="flex flex-row">
        <%= form.label :price_max_bound, "Maximum price: ", class: "font-bold text-xl pr-2" %>
        <%= form.number_field :price_max_bound, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300
                                            rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <%= form.submit "Filter" %>
    <% end %>
  </form>
</div>
